*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header section */


.nav-bar{
    display: flex;
    padding: 30px;
    gap: 100px;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    background-color: #b1adad;
    color: #fff;
}

.nav-bar li{
    list-style: none;
}
.nav-bar li:hover{
    color: #e55473;
    cursor: pointer;
}

.header-container{
    background-color: #E554731A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.heading{
    color: #272727;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    
}
.img{
    height: 460px;
    margin-bottom: -5px;
    padding-top: 32px;
}
.text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    padding-top: 32px;
}
.btn{
    padding: 20px 40px;
    background-color: #e55473;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/* header-section end */

featured-text{
    height: 100vh;
    width: auto;
    margin: 20px 10px;
}
.featured-title{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #272727
}
.featured-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    padding-top: 32px;
    text-align: center;
}
.sub-image{
    width: 200px;
    background-color: #b1adad;
}


.ph-photo{
    width: 200px;
    
}
.featured-image-1{
    width: 250px;
    height: 300px;
    padding-top: 50px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background: #F2DEE8

}
.featured-image-2{
    width: 250px;
    height: 300px;
    padding-top: 50px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background: #DAF0F1

}
.featured-image-3{
    width: 250px;
    height: 300px;
    padding-top: 50px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background: #E3EBDB

}
.featured-images{
    display: flex;
    justify-content: space-around;
    
}
.flower-name{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    font-size: 20px;
    text-decoration:underline;
}

/*  */



.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 10px;
    margin: 80px 0;
}
.of{
    color: #E55473;
}
.hot-deal{
    align-items: center;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
}
.hot-deal-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    padding-top: 32px;
    text-align: center;
}
.btn-2{
    padding: 20px 40px;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    margin-top: 40px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-left: 200px;
}
/* hot deals section end */

.instagram-title{
    text-align: center;
    padding-top: px;
    font-size: 40px;
}
.instagram-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 40px;
}
.insta-photo{
    align-items: center;
    margin: auto;
}

.letest-details{
    margin: auto;
    width: 95%;
    background-image: url("./images/Rectangle 9.png");
    text-align: center;
}
.letest-heading{
    text-align: center;
    padding-top: px;
}
.email-button{
    margin: 140px;
    padding-bottom: 80px;
}
.email-button input{
    padding: 20px 200px;
    border-radius: 8px;
}
.letest-heading{
    padding-top: 80px;
    color: #272727;
    font-size: 30px;
    font-weight: 700;
}
.letest-p{
    padding-top: 20px;
    color: rgba(39, 39, 39, 0.60);
}
/* letest deals end */

.footer{
    height: 60vh;
    margin-top: 100px;
    align-items: center;
}

.footer-title{
    text-align: center;
    padding-top: 150px;
    font-size: 45px;
}
.footer-text{
    text-align: center;
    padding-top: 30px;
    line-height: 25px;
    color: rgb(201, 208, 214);
}
.footer{
    background-color: #000;
    color: #fff;
}
.copy{
    text-align: center;
    font-size: small;
    padding-top: 30px;
    color: #939090;
}
/* footer section end */